In [1]:
%run 'National Pokedex.ipynb'

In [2]:
# Maximize display of all dataframes
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

### Scrape Items Table from Pokemon Database

In [4]:
items_url = 'https://pokemondb.net/item/all'
scrape_table(items_url)
# Realign dataframe
df.columns = df.iloc[0]
df = df.iloc[1:]
df = df.rename(columns = {'Name':'Item'})

#### Held Items

In [6]:
# Simpler to scrape and apply general transformations once, then filter than to scrape each sub-url
held_items = df[df['Category'] == 'Hold items'].drop('Category', axis=1)
held_items.head()

,Item,Effect
1,Ability Capsule,A capsule that allows a Pokémon with two Abilities to switch between these Abilities when it is used.
5,Abomasite,Enables Abomasnow to Mega Evolve during battle.
6,Absolite,Enables Absol to Mega Evolve during battle.
7,Absorb Bulb,"A consumable bulb. If the holder is hit by a Water-type move, its Sp. Atk will rise."
12,Adamant Crystal,

#### General Items

In [8]:
general_items = df[df['Category'] == 'General items'].drop('Category', axis=1)
general_items.head()

,Item,Effect
2,Ability Patch,Changes a Pokémon's ability to its Hidden Ability.
21,Alomomola Mucus,"Material obtained after defeating/catching Alomomola, used in TM crafting."
29,Applin Juice,"Material obtained after defeating/catching Applin, used in TM crafting."
30,Apricorn,A fruit whose shell can be used to form the capsules of all manner of Poké Balls when crafting them from scratch.
31,Armor Fossil,A fossil from a prehistoric Pokémon that lived on the land. It appears to be part of a collar.

#### Berries

In [10]:
berries = df[df['Category'] == 'Berries'].rename(columns = {'Item':'Berry'}).drop('Category', axis=1)
berries.head()

,Berry,Effect
18,Aguav Berry,"Restores HP if it's low, but may cause confusion."
27,Apicot Berry,Raises Special Defense when HP is low.
34,Aspear Berry,"If held by a Pokémon, it defrosts it."
46,Babiri Berry,Weakens a supereffective Steel-type attack against the holding Pokémon.
64,Belue Berry,A Berry which is very rare in the Unova region. A maniac will buy it for a high price.

#### Battle Items

In [12]:
battle_items = df[df['Category'] == 'Battle items'].drop('Category', axis=1)
battle_items.head()

,Item,Effect
4,Ability Urge,"When used, it activates the Ability of an ally Pokémon."
13,Adamant Mint,Changes the Pokémon's stats to match the Adamant nature.
38,Aux Evasion,Makes moves less likely to strike a Pokémon during a battle.
39,Aux Guard,Sharply boosts the defensive stats of a Pokémon during a battle.
40,Aux Power,Sharply boosts the offensive stats of a Pokémon during a battle.

#### Medicine

In [14]:
medicine = df[df['Category'] == 'Medicine'].rename(columns = {'Item':'Medicine'}).drop('Category', axis=1)
medicine.head()

0        Medicine                              Effect
26       Antidote       Cures a Pokémon of poisoning.
43      Awakening        Wakes up a sleeping Pokémon.
66    Berry Juice                     Restores 20 HP.
69   Big Malasada  Heals all major status conditions.
123     Burn Heal          Cures a Pokémon of a burn.

#### Pokeballs

In [16]:
pokeballs = df[df['Category'] == 'Pokeballs'].rename(columns = {'Item':'Pokeball'}).drop('Category', axis=1)
pokeballs.head()

,Pokeball,Effect
62,Beast Ball,A special Poké Ball designed to catch Ultra Beasts. It has a low success rate for catching others.
148,Cherish Ball,Rre Poké Ball used for event Pokémon.
224,Dive Ball,Catches Pokémon that live in water with 3.5x the rate of a standard Poké Ball.
239,Dream Ball,A special Poké Ball that appears out of nowhere in a bag at the Entree Forest. It can catch any Pokémon.
247,Dusk Ball,Catches Pokémon at night or in caves with 3x the rate of a standard Poké Ball.

#### Filter Items (more user functionality explored in 'Widgets' notebook)

In [18]:
held_items[held_items['Item'] == 'Choice Scarf']

0            Item                                        Effect
158  Choice Scarf  Raises Speed, but only one move can be used.

In [19]:
general_items[general_items['Item'] == 'Dome Fossil']

,Item,Effect
226,Dome Fossil,A fossil of an ancient Pokémon that lived in the sea. It appears to be part of a shell.

In [20]:
berries[berries['Berry'] == 'Pomeg Berry']

0          Berry                                   Effect
737  Pomeg Berry  Increases Friendship but lowers HP EVs.

In [21]:
battle_items[battle_items['Item'] == 'X Speed']

0        Item                                Effect
1451  X Speed  Raises Speed of a Pokémon in battle.

In [22]:
medicine[medicine['Medicine'] == 'Sacred Ash']

0      Medicine                                                    Effect
860  Sacred Ash  Revives all fainted Pokémon and fully restores their HP.

In [23]:
pokeballs[pokeballs['Pokeball'] == 'Safari Ball']

0       Pokeball                                              Effect
861  Safari Ball  Catches Pokémon in the Safari Zone or Great Marsh.

### Scrape and Apply Transformations to TMs tables for Each Pokemon Game

#### FireRed/LeafGreen - Gen3

In [26]:
url = 'https://pokemondb.net/firered-leafgreen/tms'
scrape_table(url)
FRLG_df = df
# Apply transformations
FRLG_df.columns = FRLG_df.iloc[0]
FRLG_df = FRLG_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
FRLG_df = FRLG_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
FRLG_df['Category'] = FRLG_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
FRLG_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Focus Punch,Fighting,Physical,20,150,100,"Silph Co. (5F, southwest)"
2,02,Dragon Claw,Dragon,Physical,15,80,100,"Victory Road (1F, north)"
3,03,Water Pulse,Water,Special,20,60,100,Cerulean City (Gym - defeat Misty)
4,04,Calm Mind,Psychic,Other,20,—,—,Saffron City (Gym - defeat Sabrina)
5,05,Roar,Normal,Other,20,—,—,"Route 4 (northeast)\nCeladon City (Department Store - $1,000)"

In [27]:
# Query TM
FRLG_df[FRLG_df['Name'] == 'Earthquake']

,TM,Name,Type,Category,PP,Power,Accuracy,Location
26,26,Earthquake,Ground,Physical,10,100,100,Viridian City (Gym - defeat Giovanni)

#### Ruby/Sapphire/Emerald - Gen3

In [29]:
url = 'https://pokemondb.net/ruby-sapphire/tms'
scrape_table(url)
RSE_df = df
# Apply transformations
RSE_df.columns = RSE_df.iloc[0]
RSE_df = RSE_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
RSE_df = RSE_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
RSE_df['Category'] = RSE_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
RSE_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Focus Punch,Fighting,Physical,20,150,100,"Route 115 (south)\n (Pickup ability in Emerald, 1% chance at level 71-90)"
2,02,Dragon Claw,Dragon,Physical,15,80,100,Meteor Falls
3,03,Water Pulse,Water,Special,20,60,100,Sootopolis City (Gym - defeat Wallace/Juan)
4,04,Calm Mind,Psychic,Other,20,—,—,Mossdeep City (Gym - defeat Tate & Liza)
5,05,Roar,Normal,Other,20,—,—,Route 114

In [30]:
# Query TM
RSE_df[RSE_df['Name'] == 'Calm Mind']

,TM,Name,Type,Category,PP,Power,Accuracy,Location
4,04,Calm Mind,Psychic,Other,20,—,—,Mossdeep City (Gym - defeat Tate & Liza)

#### Diamond/Pearl/Platinum - Gen4

In [32]:
url = 'https://pokemondb.net/diamond-pearl/tms'
scrape_table(url)
DPP_df = df
# Apply transformations
DPP_df.columns = DPP_df.iloc[0]
DPP_df = DPP_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
DPP_df = DPP_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
DPP_df['Category'] = DPP_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
DPP_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Focus Punch,Fighting,Physical,20,150,100,"Oreburgh Gate (B1F, west)\n (Pickup ability, 1% chance at level 71-90)"
2,02,Dragon Claw,Dragon,Physical,15,80,100,Mt. Coronet (uppermost cave - requires Rock Climb)
3,03,Water Pulse,Water,Special,20,60,100,Ravaged Path (northeast - requires Surf and Rock Smash)
4,04,Calm Mind,Psychic,Other,20,—,—,Battle Park (48 BP)
5,05,Roar,Normal,Other,20,—,—,Route 213 (northwest - requires Rock Climb)

In [33]:
# Query TM
DPP_df[DPP_df['Name'] == 'Overheat']

,TM,Name,Type,Category,PP,Power,Accuracy,Location
50,50,Overheat,Fire,Special,5,130,90,"Stark Mountain (Interior, southwest)"

#### HeartGold/SoulSilver - Gen4

In [35]:
url = 'https://pokemondb.net/heartgold-soulsilver/tms'
scrape_table(url)
HGSS_df = df
# Apply transformations
HGSS_df.columns = HGSS_df.iloc[0]
HGSS_df = HGSS_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
HGSS_df = HGSS_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
HGSS_df['Category'] = HGSS_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
HGSS_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Focus Punch,Fighting,Physical,20,150,100,Cianwood City (Gym - defeat Chuck)
2,02,Dragon Claw,Dragon,Physical,15,80,100,Route 27\nGoldenrod City (Lottery - Sunday)
3,03,Water Pulse,Water,Special,20,60,100,Cerulean City (Gym - defeat Misty)
4,04,Calm Mind,Psychic,Other,20,—,—,Battle Frontier (48 BP)
5,05,Roar,Normal,Other,20,—,—,Route 32

In [36]:
# Query TM
HGSS_df[HGSS_df['Name'] == 'Dragon Pulse']

,TM,Name,Type,Category,PP,Power,Accuracy,Location
59,59,Dragon Pulse,Dragon,Special,10,85,100,Blackthorn City (Gym - defeat Clair)\nBattle Frontier (80 BP)

#### Black/White - Gen5

In [38]:
url = 'https://pokemondb.net/black-white/tms'
scrape_table(url)
BW_df = df
# Apply transformations
BW_df.columns = BW_df.iloc[0]
BW_df = BW_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
BW_df = BW_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
BW_df['Category'] = BW_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
BW_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Hone Claws,Dark,Other,15,—,—,Cold Storage (Gift from Sage)
2,02,Dragon Claw,Dragon,Physical,15,80,100,Victory Road (3F)
3,03,Psyshock,Psychic,Special,10,80,100,Giant Chasm
4,04,Calm Mind,Psychic,Other,20,—,—,Relic Castle (Gift from Sage)
5,05,Roar,Normal,Other,20,—,—,Route 10

In [39]:
# Query TM
BW_df[BW_df['Name'] == 'Sky Drop']

0   TM      Name    Type  Category  PP Power Accuracy         Location
58  58  Sky Drop  Flying  Physical  10    60      100  Mistralton City

#### Black2/White2 - Gen5

In [41]:
url = 'https://pokemondb.net/black-white-2/tms'
scrape_table(url)
BW2_df = df
# Apply transformations
BW2_df.columns = BW2_df.iloc[0]
BW2_df = BW2_df.iloc[1:].rename(columns = {'Cat.':'Category','Acc.':'Accuracy'})
BW2_df = BW2_df[['TM', 'Name', 'Type', 'Category', 'PP', 'Power', 'Accuracy', 'Location']]
BW2_df['Category'] = BW2_df['Category'].replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-physical.png', 'Physical')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-special.png', 'Special')\
                                .replace('https://www.serebii.nethttps://img.pokemondb.net/images/icons/move-status.png', 'Other')
BW2_df.head()

,TM,Name,Type,Category,PP,Power,Accuracy,Location
1,01,Hone Claws,Dark,Other,15,—,—,"Victory Road (Entrance area, east)"
2,02,Dragon Claw,Dragon,Physical,15,80,100,Dragonspiral Tower (5F)
3,03,Psyshock,Psychic,Special,10,80,100,"Giant Chasm (Plains, west)"
4,04,Calm Mind,Psychic,Other,20,—,—,"Striaton City (PokeMart - $80,000)"
5,05,Roar,Normal,Other,20,—,—,"Route 23 (2F, southwest)"

In [42]:
# Query TM
BW2_df[BW2_df['Name'] == 'Dragon Tail']

,TM,Name,Type,Category,PP,Power,Accuracy,Location
82,82,Dragon Tail,Dragon,Physical,10,60,90,Opelucid City (Gym - defeat Drayden)